<!DOCTYPE html>
<html>
  <head>
    <title>Horaciovelvetine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- All necessary links for tailwind, where the last one is the total webpacker compiled application -->
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="h-full" >
    <div class="hidden" type="hidden" id="payload-container"></div>
    <div id="devise-notice-container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <main id="root" class="">
      <%= yield %>
    </main>
  </body>
</html>
